$colorBgWrappers: #e8ebf1;
$colorBgSlider: #81e4ed;
$colorMainText: #000;
$colorLinksHover: #2aacc8;
$colorBgNav: #fff;

@mixin wrapper {
  width: 1000px;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: $colorMainText;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $colorMainText;

  &:hover {
    color: $colorLinksHover;
  }
}

.wrapper-header {
  width: 100%;
  background: $colorBgWrappers;
  //outline: 1px solid orange;
}

.header {
  @include wrapper;
  padding: 40px 0;
  //outline: 1px solid lime;

  .logo {
    float: left;
  }

  .navigation {
    float: right;
    //outline: 1px dotted red;

    .menu {
      margin: 0;
      padding: 0;
      padding-top: 5px;
      list-style: none;
      text-transform: uppercase;
        //text-align: right;

      &>li {
        position: relative;
        display: inline-block;
        margin-left: 40px;
        //outline: 1px solid yellow;
        border-top: 4px solid $colorBgWrappers;

        a {
          display: block;
          padding: 5px;
          font-weight: bold;
          //vertical-align: middle;
          //outline: 1px solid green;

          &.submenu-exist:after {
            content:url(../img/icons/arrow-down.png);
            font-size: 0;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            //outline: 1px solid red;
          }
        }

        &.submenu:hover {
          border-top: 4px solid $colorLinksHover;
          background: $colorBgNav;

          .sub-menu {
            display: block;
          }
        }

        .sub-menu {
          position: absolute;
          left: 0;
          top: 25px;
          display: none;
          width: 200px;
          margin: 0;
          padding: 0;
          list-style: none;
          text-transform: none;
              //outline: 1px solid red;

          li {
            background: $colorBgNav;

            a {
              display: block;
              margin: 0 10px;
              padding: 6px 0;
              border-bottom: 1px solid $colorBgWrappers;
              font-weight: normal;
                        //outline: 1px solid red;
            }

            &:last-child {
              border-bottom: 4px solid $colorLinksHover;

              a {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}

.wrapper-slider {
  width: 100%;
  background: $colorBgSlider;
}

.slider {
  @include wrapper;
  padding-top: 20px;

  .slider-switcher {
    text-align: center;

    .switcher {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin: 14px 7px;
      border: 1px solid silver;
      border-radius: 50px;
      background: $colorBgWrappers;
      //outline: 1px solid red;
    }

    .switcher:hover,
    .switcher.active {
      background: $colorBgNav;
    }
  }
}

.wrapper-panel {
  width: 100%;
  background: $colorBgWrappers;
}

.panel {
  @include wrapper;
  padding: 50px 0;

  .features {
    float: left;
    box-sizing: border-box;
    width: 25%;
    padding: 0 12px;

    i {
      //display: inline-block;
      //outline: 1px solid red;
      display: inline-block;
      vertical-align: middle;
      padding-right: 8px;
    }

    .icon1:before {
      content: url(../img/icons/panel-icon1.png);
    }

    .icon2:before {
      content: url(../img/icons/panel-icon2.png);
    }

    .icon3:before {
      content: url(../img/icons/panel-icon3.png);
    }

    .icon4:before {
      content: url(../img/icons/panel-icon4.png);
    }

    .read-more {
      padding-top: 15px;
    }

    .read-more:before {
      content: url(../img/icons/read-more.png);
      //display: inline-block;
      position: relative;
      top: -1px;
      padding-right: 12px;
      //font-size: 0;
      //ertical-align: middle;
      //outline: 1px solid red;
    }

    a {
      font-weight: bold;
      color: $colorLinksHover;
    }
  }
}

.wrapper-content {
  width: 100%;
}

.content {
  @include wrapper;
  padding: 30px 0;

  .latest-works {

    h2 {
      margin-bottom: 10px;

      &:before {
        content: url(../img/icons/latest-works.png);
        display: inline-block;
        vertical-align: middle;
        padding-right: 8px;
        //outline: 1px solid red;
      }
    }

    .arrows {
      float: right;

      .arrow-left {
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background: url(../img/icons/arrow-left.png);
        //border: 1px solid red;
        border-radius: 20px;

        &:hover {
          opacity: 0.7;
          //box-shadow: inset 0 0 20px #E9E903;
        }

        &:active {
          box-shadow: 0 0 8px #E9E903;
        }
      }

      .arrow-right {
        @extend .arrow-left;
        background: url(../img/icons/arrow-right.png);
      }
    }

    .works-preview {
      width: 100%;
      display: inline-block;
      //text-align: justify;
      //outline: 1px solid green;
      white-space: nowrap;
      overflow: hidden;
      font-size: 0;

      .works-container {
        transition: 1s;

        img {
          width: 200px;
          margin: 0 25px;
          //display: inline-block;
          //outline: 1px solid red;
        }
      }
    }
  }

  .additional-panel {
    .testimonials {
      float: left;
      box-sizing: border-box;
      width: 50%;
      padding: 20px 20px 0 0;

      .testimonials-icon:before {
        content: url(../img/icons/testimonials.png);
        display: inline-block;
        vertical-align: middle;
        padding-right: 8px;
      }

      .author {
        font-weight: bold;
        font-style: italic;
      }
    }

    .clients {
      float: right;
      box-sizing: border-box;
      width: 50%;
      padding: 20px 0 0 20px;

      .clients-icon:before {
        content: url(../img/icons/clients.png);
        display: inline-block;
        vertical-align: middle;
        padding-right: 8px;
      }

      .clients-logo {
        margin-top: 20px;

        img {
          float: left;
          width: 33%;
        }
      }
    }

  }

  .bottom-panel {
    margin-top: 30px;
    padding: 35px 30px;
    border: 1px solid $colorLinksHover;
    background: $colorBgSlider;

    p {
      //float: left;
    }

    button {
      float: right;
      display: inline-block;
      border: 1px solid $colorLinksHover;
      padding: 10px 20px;
      margin-left: 40px;
      border-radius: 5px;
      //line-height: 50px;
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: 0 2px 8px silver;
      background: $colorLinksHover;
      background: linear-gradient(to bottom, #80e3ed, #33b1cc);

      .download-icon:before {
        content: url(../img/icons/download.png);
        display: inline-block;
        vertical-align: middle;
        //line-height: 50px;
        margin-right: 20px;
        //outline: 1px solid red;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        //outline: 1px solid yellow;
      }

      &:hover {
        box-shadow: 0 0 8px gold;
      }

      &:active {
        box-shadow: 0 0 8px gold;
        position: relative;
        left: 1px;
        top: 1px;
          background: linear-gradient(to top, #80e3ed, #33b1cc);
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.wrapper-footer {
  width: 100%;
  background: $colorBgWrappers;
}

.footer {
  @include wrapper;
  padding-top: 30px;

  .footer-column {
    float: left;
    box-sizing: border-box;
    width: 15%;
    padding-right: 30px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 10px 0;
      }
    }

    &:first-child {
      width: 35%;
    }

    &.last-column {
      width: 20%;
    }

    .social-buttons {
      margin-top: 10px;

      a {
        margin: 0 0px;
      }
    }
  }

  .copyright {
    padding: 30px 0;

    .logo-footer {
      float: right;
      margin-right: 30px;
    }
  }
}

.clearfix:after {
  content:'';
  display: block;
  clear: both;
}