
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGray: #F1F1F1;
$colorBlue: #005BFF;
$colorTitle: #4F4F4F;

$maxWidthHeader: 1310px;
$maxWidthBody: 1088px;
$minWidthBody: 320px;
$wrapperGap: 30px;
$headerHeight: 96px;
