button {
  height: 30px;
  border: 1px solid $colorGray;
  background-color: $colorWhite;

  &:disabled {
    opacity: 0.5;
  }
}

h1 {
  text-align: center;
}

.main {
  width: 100%;
}

.content {
  box-sizing: border-box;
  max-width: $contentWidth;
  margin: 0 auto;
  padding: 0 20px;
}