label {
  display: inline-block;
  width: 180px;
}

select {
  display: inline-block;
  width: 150px;
  margin: 10px 0;
}

.gammas {
  display: block;
  width: $contentWidth;
  height: 160px;
  margin: 0 auto;
  border: 1px solid #c0c0c0;
}

.tonality-selection {
  width: $contentWidth;
  margin: 0 auto;
}

.tonality-selection__hint {
  display: inline-block;
  color:red;
}

.tonality-selection__hint_hidden {
  display: none;
}