
.transpose {
  width: $blockWidth;
  margin: 0 auto;
}

.transpose__btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.transpose__tone-block {
  display: flex;
}

.transpose__change-tone {
  width: 80px;
}

.transpose__tone-value {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 2px 6px;
  border-top: 1px solid $colorGray;
  border-bottom: 1px solid $colorGray;
}

.transpose__chords-btn {
  width: 130px;
}

.transpose__start {
  width: 120px;
}

.transpose__start_hidden {
  display: none;
}

.transpose__stop {
  width: 120px;
}

.transpose__stop_hidden {
  display: none;
}

.transpose__textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  padding: 10px;
  resize: none;
  outline: none;
  border: 1px solid $colorGray;
  background-color: $colorWhite;
}

.transpose__textarea_hidden {
  display: none;
}

.song {
  @extend .transpose__textarea;
  overflow: auto;
  white-space: pre-wrap;
  background-color: yellow;
}

.song_hidden {
  display: none;
}

.song__chord_hidden {
  visibility: hidden;
}

.chord {
  color: red;
}