@import "normalize";

$colorGray: #c0c0c0;
$colorWhite: #f0f0f0;

input {

}

button {
  border: 1px solid $colorGray;
  background: none;
  outline: none;
  height: 30px;
}


.main {
  width: 100%;
}

.transpos {
  width: 500px;
  margin: 0 auto;
}

.transpos__btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.transpos__tone-block {
  display: flex;
}

.transpos__change-tone {
  width: 80px;
  background-color: $colorWhite;

  &:disabled {
    opacity: 0.5;
  }
}

.transpos__tone-value {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 2px 6px;
  border-top: 1px solid $colorGray;
  border-bottom: 1px solid $colorGray;
}

.transpos__start {
  width: 120px;
}

.transpos__start_hidden {
  display: none;
}

.transpos__stop {
  width: 120px;
}

.transpos__stop_hidden {
  display: none;
}

.transpos__textarea {
  display: block;
  width: 100%;
  height: 400px;
  padding: 10px;
  resize: none;
  outline: none;
  border: 1px solid $colorGray;
  background-color: $colorWhite;
}

.transpos__textarea_hidden {
  display: none;
}

.song {
  @extend .transpos__textarea;
  white-space: pre-wrap;
  background-color: yellow;
}

.song_hidden {
  display: none;
}

span {
  color: red;
}