.skills {
  box-sizing: border-box;
  width: 100%;
}

.skills__item {
  line-height: 1.2;
  padding: 5px 0;
}

.skills__item_line-through {
  text-decoration: line-through;
}

.cv {
  clear: both;
  text-align: center;
}
