.contacts {
  display: block;
  background: $cPurpleDark;
  background: linear-gradient(to bottom, $cPurpleDark, $cPurpleLight);

  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: $wMax;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
  }

  &__title {
    width: 100%;
  }

  &__send-email {
    box-sizing: border-box;
    width: 50%;
  }

  &__label {
    display: block;
    margin: 10px 0 5px 0;
  }

  %form-element {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 5px;
    color: $cPurpleDark;
  }

  &__input {
    @extend %form-element;
    height: 40px;
    padding: 6px 10px;
  }

  &__textarea {
    @extend %form-element;
    padding: 6px 10px;
    resize: none;
  }

  &__submit {
    @extend %form-element;
    height: 50px;
    margin-top: 20px;
    font-weight: bold;
    background: $cGoldDark;
    background: linear-gradient(to bottom, $cGold, $cGoldDark);
    cursor: pointer;

    &:hover {
      background: $cGold;
      background: linear-gradient(to bottom, rgb(223, 223, 0), $cGold);
    }
  }

  &__after-sending {
    height: 40px;
  }

  &__other {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  &__other-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    text-align: left;
  }
  
  &__other-item {
    height: 40px;
    line-height: 40px;

  }

  &__other-link {
    display: flex;

    &:before {
      margin: auto;
      margin-right: 10px;
    }

    &_email {
      @extend .icon, .icon_email;
    }

    &_skype {
      @extend .icon, .icon_skype;
    }

    &_hh {
      @extend .icon, .icon_hh;
    }
  }
}
