.page {
  font-size: 16px;
  line-height: 1.4;
  color: $cWhite;
}

.page_use-common-font {
  font-family: Helvetica, Arial, sans-serif;
}

.page_use-lato-font {
  font-family: LatoLight, Helvetica, Arial, sans-serif;
}