// Colors: starts with $c
$cWhite: #fff;
$cGray: gray;
$cBlackLight: #160121;
$cGold: #ebc402;
$cGoldDark: #ba9d0b;
$cPurpleLight: #3D1154;
$cPurpleDark: #260338;

// Sizes: starts with $w (width) or $h (height)
$wMax: 960px;
$hNav: 50px;

