.portfolio {
  display: block;
  background: $cPurpleDark;
  background: linear-gradient(to bottom, $cPurpleDark, $cPurpleLight);

  &__container {
    max-width: $wMax;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
  }

  &__title {
    text-align: center;
  }
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.work {
  box-sizing: border-box;
  width: 50%;
  margin: 20px 0;
  font-size: 16px;

  &:nth-child(2n+1) {
    padding-right: 40px;
  }

  &:nth-child(2n) {
    padding-left: 40px;
  }

  &__main-info {
    display: flex;
  }

  &__screenshot {
    display: block;
    width: 200px;
    height: 150px;
    margin-right: 20px;
  }

  &__img {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background: $cGray;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      box-shadow: 0 0 6px $cGold;
    }
  }

  &__name {
    margin: 0;
    padding-bottom: 20px;
  }

  &__description {
    margin: 0;
    font-size: 16px;
  }

  &__spec {
    margin-top: 20px;
  }
}
