@import "normalize";

//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic);

$purpleLight: #3D1154;
$purpleDark: #260338;
$colorAlmostBlack: #160121;
$colorGold: #ebc402;
$colorDarkGold: #ba9d0b;
$colorWhite: #fff;

$screenWidth: 960px;

/* font-family: "LatoRegular"; */
@font-face {
    font-family: "Lato";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/LatoItalic/LatoItalic.eot");
    src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoItalic/LatoItalic.woff") format("woff"),
    url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/LatoBold/LatoBold.eot");
    src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBold/LatoBold.woff") format("woff"),
    url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
    src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"),
    url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoBold/LatoBold.eot");
    src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBold/LatoBold.woff") format("woff"),
    url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

body {
  font-family: LatoLight, Times, Helvetica, Arial, sans;
  //font-family: "LatoLight";
  font-size: 16px;
  //line-height: 1.6;
  color: #F0F0F0;
}

a {
  text-decoration: none;
    color: $colorDarkGold;
  //color: #fff;

  &:hover {
  color: $colorGold;
    //text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 0;
}

li {
  margin: 6px 0;
  list-style-image: url(/img/icons/icon-tick.png);
  //outline: 1px solid lime;
}

  .title {
    text-align: center;
  }

#main-wrapper {
  width: 100%;
  position: relative;
}

#wrapper-nav,
#wrapper-portfolio,
#wrapper-about,
#wrapper-contacts,
#wrapper-acdc {
  width: 100%;
  background: $purpleDark;
  background: linear-gradient(to bottom, $purpleDark, $purpleLight);
  //outline: 6px dotted maroon;
}

#border {
  width: 100%;
  height: 20px;
  background: $purpleDark;
  background-image:
    linear-gradient(to top right, transparent 50.5%, $purpleLight 50.5%),
    linear-gradient(to top left, transparent 50.5%, $purpleLight 50.5%);
  background-repeat: repeat-x, repeat-x;
  background-position: 0 0, 0 0;
  background-size: 20px 20px, 20px 20px;
  //outline: 1px solid red;
}

#wrapper-nav {
  background: $colorAlmostBlack;
  position: fixed;
  height: 50px;
  z-index: 5;
  border-bottom: 2px solid gray;
  //outline: 3px solid green;
}

#nav,
#portfolio,
#about,
#contacts,
#acdc {
  position: relative;
  width: 90%;
  max-width: $screenWidth;
  margin: 0 auto;
  padding: 60px 0 30px;
  //outline: 4px dashed green;
}

#nav {
  padding: 0;
}

.logo {
  float: left;
  text-transform: uppercase;
  line-height: 50px;
}

.main-menu {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  text-align: right;
  font-size: 0;
  //outline: 1px solid red;

  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    //outline: 1px solid red;

    a {
      display: block;
      text-transform: uppercase;
      padding: 0px 10px;
      margin-left: 3px;
      line-height: 50px;
      font-size: 16px;
      font-size: 1rem;

      font-weight: bold;
      color: $colorWhite;
      vertical-align: middle;
      //outline: 1px solid green;

      .icon {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 30px;
        margin-top: -5px;
        padding-right: 10px;
        //outline: 1px solid blue;
      }

      .icon-portfolio {
        background: url(/img/icons/portfolio.png) no-repeat;
      }

      .icon-about {
        background: url(/img/icons/about.png) no-repeat;
      }

      .icon-contacts {
        background: url(/img/icons/contacts.png) no-repeat;
      }

      &:hover,
      &.active {
        background: #fff;
        color: $purpleDark;

        .icon-portfolio {
          background: url(/img/icons/portfolio-hover.png) no-repeat;
        }

        .icon-about {
          background: url(/img/icons/about-hover.png) no-repeat;
        }

        .icon-contacts {
          background: url(/img/icons/contacts-hover.png) no-repeat;
        }
      }

    }
  }
}

.works {
  font-size: 0;

  .work {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 50%;
    margin: 20px 0;
    font-size: 16px;
    font-size: 1rem;
    text-align: left;
    //outline: 1px solid gray;

    &:nth-child(2n+1) {
      padding-right: 40px;
    }

    &:nth-child(2n) {
      padding-left: 40px;
    }

    img {
      opacity: 0.8;
    }

    a:hover {
      img {
        opacity: 1;
        box-shadow: 0 0 6px $colorGold;
      }
    }

    .work__main-info {
      margin-bottom: 0px;
      //outline: 1px solid red;

      .work__main-info_img {
        float: left;
        width: 200px;
        height: 150px;
        margin-right: 20px;
        //outline: 1px solid gray;

        img {
          border-radius: 5px;
          width: 200px;
          height: 150px;
          background: gray;
        }
      }

      .work__main-info_name {

        h2, h4 {
          margin: 0;
          padding: 0;
        }

        h2 {
          margin-bottom: 20px
        }
      }
    }

    .work__description {
      //outline: 2px dashed blue;
    }
  }
}

.about {
  //margin: 40px 0;
  //border: 10px solid transparent;
  //border-width: 10px 0;
  //background: linear-gradient($purpleDark, $purpleLight) repeat 0 0 auto auto;
  //padding: 20px 0;

  .title {
    border: 1px solid $purpleDark;
    //margin: 0;
    //padding: 0;
    text-align: center;
  }

  .main-skills,
  .additional-skills {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding-right: 40px;
   //outline: 1px solid red;
  }

  .additional-skills {
    box-sizing: border-box;
    float: right;
    width: 50%;
    padding-left: 40px;
  }

  .line-through {
    text-decoration: line-through;
  }

  .cv {
    clear: both;
    text-align: center;
  }
}

.form {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-right: 40px;
  //outline: 1px solid red;

  label {
    display: block;
    margin: 10px 0 5px 0;
    //outline: 1px dotted green;
  }

  input,
  textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 5px;
    color: #000;
  }

  input {
    height: 30px;

    &[type="submit"] {
      box-sizing: border-box;
      height: 50px;
      margin-top: 20px;
      border: 2px solid $purpleDark;
      font-weight: bold;
      color: $purpleDark;
      background: $colorDarkGold;
      background: linear-gradient(to bottom, $colorGold, $colorDarkGold);

      &:hover {
        background: $colorGold;
        background: linear-gradient(to bottom,  rgb(223, 223, 0), $colorGold);
      }
    }
  }

  textarea[name="message"] {
    resize: none;
  }
}

.other-contacts {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding-left:100px;
    margin-bottom: 16px;

    .contact {
      //display: inline-block;
      //vertical-align: middle;
      line-height: 40px;
      height: 40px;
      //outline: 1px dotted green;

      &:first-child {
        padding-top: 60px;
      }
    }

    .icon {
       vertical-align: middle;
       display: inline-block;
       height: 25px;
       width: 25px;
       margin-right: 10px;
       //outline: 1px solid red;
    }

    .email {
      background:url(/img/icons/icon-email.png) no-repeat;
    }

    .skype {
      background:url(/img/icons/icon-skype.png) no-repeat;
    }

    .icq {
      background:url(/img/icons/icon-icq.png) no-repeat;
    }

    .hh {
      background:url(/img/icons/icon-hh.png) no-repeat;
    }

}

#acdc {

  //outline: 1px solid orange;

  audio {
    width: 100%;
  }
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (max-width: 930px) {
  .works{
    .work {
      .work__main-info {
        .work__main-info_img {
          float: none;
          width: 100%;
          text-align: center;
          margin-bottom: 15px;
        }

        .work__main-info_name {
          h2, h4 {
            text-align: center;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 780px) {
  .main-menu li a {
    font-size: 0;

    .icon {
      padding: 0;
    }
  }
}

@media screen and (max-width: 720px) {
  .works{
    .work {
      width: 100%;
      margin-bottom: 60px;

      &:nth-child(2n+1) {
       padding-right: 0;
      }

      &:nth-child(2n) {
        padding-left: 0;
      }
    }
  }

  .about {
    .main-skills,
    .additional-skills {
      float: none;
      width: 100%;
      padding: 0;
     //outline: 1px solid red;
    }
  }

  .form,
  .other-contacts {
    float: none;
    width: 100%;
    padding: 0;

    h2 {
      text-align: center;
    }
  }

  .other-contacts {
    margin-top: 30px;
  }
}

@media screen and (max-width: 420px) {
  .main-menu li a,
  .main-menu li a:hover,
  .main-menu li a.active {
    padding: 0px 5px;

    .icon {
      width: 24px;
      height: 18px;
      background-size: 100% 100%;
    }
  }
}