/* font-family: "LatoRegular"; */
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoItalic/LatoItalic.eot");
  src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoItalic/LatoItalic.woff") format("woff"), url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"), url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }
body {
  font-family: LatoLight, Times, Helvetica, Arial, sans;
  font-size: 16px;
  color: #F0F0F0; }

a {
  text-decoration: none;
  color: #ba9d0b; }
  a:hover {
    color: #ebc402; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: 0; }

li {
  margin: 6px 0;
  list-style-image: url(/img/icons/icon-tick.png); }

.title {
  text-align: center; }

#main-wrapper {
  width: 100%;
  position: relative; }

#wrapper-nav,
#wrapper-portfolio,
#wrapper-about,
#wrapper-contacts,
#wrapper-acdc {
  width: 100%;
  background: #260338;
  background: linear-gradient(to bottom, #260338, #3D1154); }

#border {
  width: 100%;
  height: 20px;
  background: #260338;
  background-image: linear-gradient(to top right, transparent 50.5%, #3D1154 50.5%), linear-gradient(to top left, transparent 50.5%, #3D1154 50.5%);
  background-repeat: repeat-x, repeat-x;
  background-position: 0 0, 0 0;
  background-size: 20px 20px, 20px 20px; }

#wrapper-nav {
  background: #160121;
  position: fixed;
  height: 50px;
  z-index: 5;
  border-bottom: 2px solid gray; }

#nav,
#portfolio,
#about,
#contacts,
#acdc {
  position: relative;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0 30px; }

#nav {
  padding: 0; }

.logo {
  float: left;
  text-transform: uppercase;
  line-height: 50px; }

.main-menu {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  text-align: right;
  font-size: 0; }
  .main-menu li {
    margin: 0;
    padding: 0;
    display: inline-block; }
    .main-menu li a {
      display: block;
      text-transform: uppercase;
      padding: 0px 10px;
      margin-left: 3px;
      line-height: 50px;
      font-size: 16px;
      font-size: 1rem;
      font-weight: bold;
      color: #fff;
      vertical-align: middle; }
      .main-menu li a .icon {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 30px;
        margin-top: -5px;
        padding-right: 10px; }
      .main-menu li a .icon-portfolio {
        background: url(/img/icons/portfolio.png) no-repeat; }
      .main-menu li a .icon-about {
        background: url(/img/icons/about.png) no-repeat; }
      .main-menu li a .icon-contacts {
        background: url(/img/icons/contacts.png) no-repeat; }
      .main-menu li a:hover, .main-menu li a.active {
        background: #fff;
        color: #260338; }
        .main-menu li a:hover .icon-portfolio, .main-menu li a.active .icon-portfolio {
          background: url(/img/icons/portfolio-hover.png) no-repeat; }
        .main-menu li a:hover .icon-about, .main-menu li a.active .icon-about {
          background: url(/img/icons/about-hover.png) no-repeat; }
        .main-menu li a:hover .icon-contacts, .main-menu li a.active .icon-contacts {
          background: url(/img/icons/contacts-hover.png) no-repeat; }

.works {
  font-size: 0; }
  .works .work {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 50%;
    margin: 20px 0;
    font-size: 16px;
    font-size: 1rem;
    text-align: left; }
    .works .work:nth-child(2n+1) {
      padding-right: 40px; }
    .works .work:nth-child(2n) {
      padding-left: 40px; }
    .works .work img {
      opacity: 0.8; }
    .works .work a:hover img {
      opacity: 1;
      box-shadow: 0 0 6px #ebc402; }
    .works .work .work__main-info {
      margin-bottom: 0px; }
      .works .work .work__main-info .work__main-info_img {
        float: left;
        width: 200px;
        height: 150px;
        margin-right: 20px; }
        .works .work .work__main-info .work__main-info_img img {
          border-radius: 5px;
          width: 200px;
          height: 150px;
          background: gray; }
      .works .work .work__main-info .work__main-info_name h2, .works .work .work__main-info .work__main-info_name h4 {
        margin: 0;
        padding: 0; }
      .works .work .work__main-info .work__main-info_name h2 {
        margin-bottom: 20px; }

.about .title {
  border: 1px solid #260338;
  text-align: center; }
.about .main-skills,
.about .additional-skills {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-right: 40px; }
.about .additional-skills {
  box-sizing: border-box;
  float: right;
  width: 50%;
  padding-left: 40px; }
.about .line-through {
  text-decoration: line-through; }
.about .cv {
  clear: both;
  text-align: center; }

.form {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-right: 40px; }
  .form label {
    display: block;
    margin: 10px 0 5px 0; }
  .form input,
  .form textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 5px;
    color: #000; }
  .form input {
    height: 30px; }
    .form input[type="submit"] {
      box-sizing: border-box;
      height: 50px;
      margin-top: 20px;
      border: 2px solid #260338;
      font-weight: bold;
      color: #260338;
      background: #ba9d0b;
      background: linear-gradient(to bottom, #ebc402, #ba9d0b); }
      .form input[type="submit"]:hover {
        background: #ebc402;
        background: linear-gradient(to bottom, #dfdf00, #ebc402); }
  .form textarea[name="message"] {
    resize: none; }

.other-contacts {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-left: 100px;
  margin-bottom: 16px; }
  .other-contacts .contact {
    line-height: 40px;
    height: 40px; }
    .other-contacts .contact:first-child {
      padding-top: 60px; }
  .other-contacts .icon {
    vertical-align: middle;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 10px; }
  .other-contacts .email {
    background: url(/img/icons/icon-email.png) no-repeat; }
  .other-contacts .skype {
    background: url(/img/icons/icon-skype.png) no-repeat; }
  .other-contacts .icq {
    background: url(/img/icons/icon-icq.png) no-repeat; }
  .other-contacts .hh {
    background: url(/img/icons/icon-hh.png) no-repeat; }

#acdc audio {
  width: 100%; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

@media screen and (max-width: 930px) {
  .works .work .work__main-info .work__main-info_img {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 15px; }
  .works .work .work__main-info .work__main-info_name h2, .works .work .work__main-info .work__main-info_name h4 {
    text-align: center; } }
@media screen and (max-width: 780px) {
  .main-menu li a {
    font-size: 0; }
    .main-menu li a .icon {
      padding: 0; } }
@media screen and (max-width: 720px) {
  .works .work {
    width: 100%;
    margin-bottom: 60px; }
    .works .work:nth-child(2n+1) {
      padding-right: 0; }
    .works .work:nth-child(2n) {
      padding-left: 0; }

  .about .main-skills,
  .about .additional-skills {
    float: none;
    width: 100%;
    padding: 0; }

  .form,
  .other-contacts {
    float: none;
    width: 100%;
    padding: 0; }
    .form h2,
    .other-contacts h2 {
      text-align: center; }

  .other-contacts {
    margin-top: 30px; } }
@media screen and (max-width: 420px) {
  .main-menu li a,
  .main-menu li a:hover,
  .main-menu li a.active {
    padding: 0px 5px; }
    .main-menu li a .icon,
    .main-menu li a:hover .icon,
    .main-menu li a.active .icon {
      width: 24px;
      height: 18px;
      background-size: 100% 100%; } }

/*# sourceMappingURL=style.css.map */
